@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0e12;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d0e12;
}

::-webkit-scrollbar-thumb {
  background: #2a2a33;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a44;
}
